table
{
width:100%; /* largeur */
height:100%; /* hauteur */
border-collapse: collapse; /* connecté les bordures des case du tableau */
background-color:#F7F8F5; /* définir la couleur d'arrière-plan */
}

.plein
{
font-size:large; /*taille du texte*/
text-align:center; /* alignement du texte*/
border:1px solid grey; /*propriété des bordures*/
font-weight:bold; /*mettre le texte en gras*/
background-color:white; /*couleur d'arrière-plan*/
}

#cont
{
height:80%; /*hauteur*/
width:80%; /*largeur*/
margin-left:auto;  /*marge gauche définit automatiquement*/
margin-right:auto; /*marge droite définit automatiquement*/
}
