#suite{
  text-align: center;
  width: 100%;
  padding:10px;
}
#suite div{
  border: solid black 2px;
  background: linear-gradient(grey, #d2d2d2 40%, #EEE 80%, #DDD);
  border-radius: 4px 4px 4px 4px;
  padding-top: 5px;
  margin-top: 5px;
  text-align: center;
}
#suite a{
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  color: black;
}
fieldset {
  width: 100%;
  margin-bottom: 15px; //espace entre les rubriques
  padding: 10px;
  color:#000099;
  font-family:Arial;
  text-align:justify;
  font-size: 15px;
  background-color:#f4f4f4;
  border : 2px solid #990000;
}

legend{
  padding: 0px 3px;
font-weight: bold;
font-variant: small-caps;
color:#990000;
font-family:Cursive;
font-size: 30px;
margin-bottom:10px;
}
