#menu
{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #c7c7c7
}


#menu-demo2  ul, #menu-demo2
{
  list-style-type: none;
  padding: 0; margin:0;
  background-color: #ffffff
}
#menu-demo2 a
{
  text-decoration: none;
}
#menu-demo2 li ul li a
{
  color: rgb(0,0,0);
  font-family: arial;
  margin-left: 10px;

}
#menu-demo2 li, #menu-demo2 li a
{
  color: black;
  font-family: Arial Black;
  border-top: solid width 3px black;
  border-radius: 2px;
}
#menu-demo2, #menu-demo2 ul{
	padding:0;
	margin:0;
	list-style:none;
}
#menu-demo2 li{
	position:relative;
	border-radius:2px 2px 0 0;
	padding-right:10px;
}
#menu-demo2 ul li{
	display:inherit;
	border-radius:2px;
}
#menu-demo2 ul li:hover{
	border-radius:2px;
}
#menu-demo2 ul{
	position:absolute;
	z-index: 1000;
	max-height:0;
	left: 0;
	right: 0;
	overflow:hidden;
}

#menu-demo2 li:hover ul{
	max-height:15em;
}
/* background des liens sous menus */
#menu-demo2 li:nth-child(4) li{
	background:#d2d2d2;
}
#menu-demo2 li:nth-child(5) li{
	background:#d2d2d2; color:#ffffff;
}
#menu-demo2 li:nth-child(6) li{
	background:#d2d2d2;
}
#menu-demo2 li:nth-child(7) li{
	background:#d2d2d2;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:nth-child(3):hover{
	background:#990000;
}
#menu-demo2 li:nth-child(5) li:hover{
	background:#e8222b;
}
#menu-demo2 li:nth-child(2):hover{
	background:#990000;
}
#menu-demo2 li:nth-child(4):hover{
	background:#990000;
}
#menu-demo2 li:nth-child(4) li:hover{
	background:#e8222b;
}
#menu-demo2 li:nth-child(5):hover{
	background:#990000;
}
#menu-demo2 li:nth-child(6):hover{
	background:#990000;
}
#menu-demo2 li:nth-child(7):hover{
	background:#990000;
}
#menu-demo2 li:nth-child(7) li:hover{
	background:#e8222b;
}
/* les a href */
#menu-demo2 a{
	text-decoration:none;
	display:block;
	padding:8px 32px;
}
#menu-demo2 ul a{
	padding:8px 0;
}
#menu-demo2 li:hover li a{
	color:#fff;
	text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
	color:#ffffff;
}
#menu-demo2{
  display: inline-block;
  border: solid black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 235px;

}
#carte{
  display: block;
  width: 50px;
  height:50px;

}
